.segment path {
  stroke: #fff;
  stroke-width: 3px;
}

.cloud {}

.cloud text {
  cursor: default;
}

.segment text {
  font: 14px Arial;
  pointer-events: none;
}

.twitter-typeahead { 
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; 
}


.tt-input,
.tt-hint {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color:rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.top-panel .title{
  position:absolute;
  vertical-align: middle;
  left: 20px;
}

.main-graph {
  z-index: 100;
}

.main-left-panel {
  height: 90%;
}

.main-right-panel {
  height: 90%;
}

.graph-container {
  height : 80%;
  width: 100%;
  position: absolute;
  text-align: center;
}


.details { 
  font: 20px Arial;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);

  width: 50%;
  margin: 0 25%;
}

.more-info {
  font: 20px Arial;
  text-align: justify;
}

.row {
  margin-right: 0px; 
  margin-left: 0px; 
}

.navigation-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.home-button {
  width: 30%;
  font: 18px Arial;
}

.fineprint {
  color: grey;
  font: 14px Arial;
  position: fixed;
  top: 10px;
  right: 10px;
}